<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Text Analyzer</title>
  <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
  <div class="container">

    <h1>Analyze Your Text</h1>
    <form action="/analyze/" method="POST">
      <textarea name="text" rows="10" cols="50" placeholder="Enter your text here..."></textarea>
      <br>
      <label for="analysis_type">Choose an analysis:</label>
      <select name="analysis_type" id="analysis_type">
        <option value="word_count">Word Count</option>
        <option value="word_count_2">Word Count 2.0</option>
        <option value="char_count">Character Count</option>
        <option value="sentence_count">Sentence Count</option>
        <option value="formatted_char_count">Character Frequency</option>
        <option value="all">Run All</option>
      </select>
      <br>
      <button type="submit">Analyze</button>
    </form>
  </div>
  <div class="spacer"></div>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script type="module" src="/static/js/app.js"></script>
</body>
</html>
